.food_donate {
    background-image: url('../../assets/home/food_donate.png');
}
.grow {
    background-image: url("../../assets/home/grow.jpg");
}
.money {
    background-image: url("../../assets/home/money.jpg");
}
.volunteer {
    background-image: url("../../assets/home/volunteer.jpg");
}